* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	outline: none;
	border: none;
	font-family: 'Roboto', sans-serif;
}

html,
body {
	width: 100%;
	min-height: 100%;
	background-color: #fff !important;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	overflow-x: hidden;
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
		monospace;
}

:root {
	/* shadows */
	--elevation-0: none;
	--elevation-1: 0 1px 1px 0 rgba(0, 0, 0, 0.14),
		0 2px 1px -1px rgba(0, 0, 0, 0.12), 0 1px 3px 0 rgba(0, 0, 0, 0.2);
	--elevation-2: 0 2px 2px 0 rgba(0, 0, 0, 0.14),
		0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2);
	--elevation-3: 0 3px 4px 0 rgba(0, 0, 0, 0.14),
		0 3px 3px -2px rgba(0, 0, 0, 0.12), 0 1px 8px 0 rgba(0, 0, 0, 0.2);

	--danger-color: #dc3545;
}

a {
	text-decoration: none !important;
}

/*---------------------------Raymond Code-----------------------*/
.col-1 {
	right: -100px;
	padding: 160px;
	position: relative;
	background: #430f02;
	border: black solid 1px;
}

.col-3 {
	right: -100px;
	padding: 160px;
	position: relative;
	border: black solid 1px;
}

.movie1,
.movie2,
.movie3 {
	left: -13px;
	top: -161px;
	width: 480px;
	color: white;
	line-height: 40px;
	font-weight: bold;
	text-align: center;
	position: relative;
	background: #282727;
	vertical-align: middle;
	box-sizing: border-box;
	border: 1px solid #555555;
}

.doraMovie,
.shangChiMovie,
.squidGame {
	top: 0px;
	left: 0px;
	width: 100%;
	height: 100%;
	object-fit: cover;
	position: absolute;
	/* object position is either croping top or bottom */
	object-position: top;
}

.playButton1,
.playButton2,
.playButton3 {
	width: 15%;
	top: 160px;
	height: 20%;
	left: 210px;
	cursor: pointer;
	object-fit: cover;
	position: absolute;
	object-position: top;
}

.Box {
	top: 500px;
	left: 100px;
	width: 1760px;
	height: 420px;
	position: absolute;
	background: #282727;
	box-sizing: border-box;
	border: 1px solid white;
}

.title {
	top: 50px;
	left: 720px;
	width: 354px;
	height: 70px;
	color: White;
	font-size: 35px;
	font-weight: bold;
	line-height: 41px;
	position: absolute;
	font-style: normal;
	font-family: Roboto;
}

.carouselMiddle {
	z-index: 30;
	top: 120px;
	left: 715px;
	width: 341px;
	height: 252px;
	display: block;
	cursor: pointer;
	position: absolute;
	background: #ffffff;
	box-sizing: border-box;
	/* border: 1px solid #000000; */
}

.carouselRight1 {
	z-index: 3;
	top: 135px;
	left: 897px;
	width: 341px;
	height: 220px;
	cursor: pointer;
	position: absolute;
	background: #ffffff;
	box-sizing: border-box;
	border: 1px solid #000000;
}

.carouselRight2 {
	top: 155px;
	left: 1057px;
	width: 341px;
	height: 180px;
	cursor: pointer;
	position: absolute;
	/* background: #ffffff; */
	box-sizing: border-box;
	border: px solid #000000;
}

.carouselLeft1 {
	z-index: 3;
	top: 135px;
	left: 505px;
	width: 341px;
	height: 220px;
	cursor: pointer;
	position: absolute;
	background: #ffffff;
	box-sizing: border-box;
	border: 1px solid #000000;
}

.carouselLeft2 {
	top: 155px;
	left: 366px;
	width: 341px;
	height: 180px;
	cursor: pointer;
	position: absolute;
	background: #ffffff;
	box-sizing: border-box;
	border: 1px solid #000000;
}

.rightClick {
	width: 47%;
	top: 80px;
	left: 40px;
	height: 20%;
	cursor: pointer;
	position: absolute;
	border-radius: 80px;
	background-color: white;
}

.leftClick {
	width: 47%;
	top: 210px;
	left: 40px;
	height: 20%;
	cursor: pointer;
	position: absolute;
	border-radius: 80px;
	background-color: white;
}

.rightClick1 {
	width: 4%;
	top: 205px;
	left: 81%;
	height: 17%;
	cursor: pointer;
	position: absolute;
	border-radius: 80px;
	background-color: white;
}

.leftClick1 {
	width: 4%;
	top: 205px;
	left: 15%;
	height: 17%;
	cursor: pointer;
	position: absolute;
	border-radius: 80px;
	background-color: white;
}

.spiderman,
.blackWidow {
	top: 0px;
	z-index: 3;
	left: -1px;
	width: 341px;
	height: 220px;
	object-fit: cover;
	position: absolute;

	object-position: top;
	background: #ffffff;
	background: #ffffff;
	box-sizing: border-box;
	/* border: 1px solid #000000; */
}

.jungleCruise,
.wendyWu {
	top: 0px;
	left: -1px;
	width: 341px;
	height: 178px;
	object-fit: cover;
	position: absolute;
	object-position: top;
	background: #ffffff;
	background: #ffffff;
	box-sizing: border-box;
	/* border: 1px solid #000000; */
}

.wrap {
	top: 104px;
	left: 650px;
	right: 306px;
	bottom: 496px;
	padding: 150px;
	position: absolute;
	border: solid 1px #767676;
}

.descriptionWrap {
	top: 15px;
	right: 250px;
	position: absolute;
}

/* 

::-webkit-scrollbar {
	width: 12px;
  }
  
   Track 
  ::-webkit-scrollbar-track {
	border-radius: 10px;
	box-shadow: inset 0 0 5px grey; 
  }
   
   Handle 
  ::-webkit-scrollbar-thumb {
	background: grey; 
	border-radius: 10px;
  }
  
   Handle on hover 
  ::-webkit-scrollbar-thumb:hover{
	background: grey; 
  } 

  */

.scroller {
	left: 281px;
	padding: 1rem;
	overflow-y: auto;
	max-height: 500px;
}

.boldText {
	bottom: -12px;
	right: -226px;
	font-weight: bold;
	position: absolute;
}
/*-----------------------------------------------------End of Raymond Code-------------------------------------*/
